[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "silsim"]
	path = TARS/src/mcu_main/ISS_SILSIM
	url = https://github.com/ISSUIUC/ISS_SILSIM.git
	branch = submodule-integration
[submodule "src\\mcu_main\\ISS_SILSIM"]
	branch = submodule-integration
