# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode Crap
*.vscode
**/.vscode

# Platformio Temporaries
*.pio
**/.pio

# Vim Crap
*.swp
**/*.swp

# Mac stuff
.DS_Store

# Actual data -- Don't commit flight data to this repo or you'll make Gautam's hair go gray
*.csv
